[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[project]
name = "sliceline"
version = "0.0.0"
description = "✂️ Fast slice finding for Machine Learning model debugging."
authors = ["Antoine de Daran"]
license = "BSD-3-Clause"
readme = "README.rst"
repository = "https://github.com/DataDome/sliceline"
documentation = "https://sliceline.readthedocs.io/en/latest/index.html"

[tool.poetry.dependencies]
python = "~3.9"
numpy = "^1.21.4"
scikit-learn = "^1.0.1"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
flake8 = "^4.0.1"
myst-parser = "^0.18.0"
pandas = "^1.3.5"
pytest = "^6.2.5"
pytest-benchmark = "^3.4.1"
pytest-cov = "^3.0.0"
Sphinx = "^5.0.2"
sphinx-rtd-theme = "^1.0.0"
