name: Test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install LLVM (required for numba)
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm-14-dev
      - name: Install dependencies
        run: make init
      - name: Run test
        run: make test
      - name: Run notebooks
        run: make execute-notebooks
